<div class="wrap">
  <video id="video-camera" autoplay playsinline muted></video>
</div>

<style>
  .wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  window.addEventListener("load", async () => {
    const video = document.querySelector("#video-camera") as HTMLVideoElement;
    navigator.mediaDevices
      .getUserMedia({
        audio: false,
        video: { facingMode: "environment" },
      })
      .then((stream) => {
        video.srcObject = stream;
      });
  });
</script>
